.loginsignup{
    width: 100%;
    height: 120vh;
    background: #4d6170;
    padding-top: 20px;
    
    /* border: 5px solid #5e8caa; */
}

.loginsignup-container{
    width: 450px;
    height: 410px;
    background: white;
    margin: auto;
    padding: 25px 50px;
}

.loginsignup-container h1{
    margin: 1px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 35px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: black;
    font-size: 18px;
}
.loginsignup-container button{
    width: 330px;
    height: 35px;
    color: #FBFBF9;
    background: #5e8caa;
    margin-top: 25px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: black;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
}