body {
  background: #5e8caa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  padding: 100px;
  background: #FBFBF9;
  /* border: 100px solid #FBFBF9; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}
